<template name="header">
  <nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{pathFor 'postsList'}}">Paninda</a>
    </div>
    <div class="collapse navbar-collapse" id="navigation">
       <ul class="nav navbar-nav">
        {{#if currentUser}} 
          <li><a href="{{pathFor 'postSubmit'}}">Submit Post</a></li> 
          {{> profile}}
          {{> messagesNav}}
        {{/if}}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {{> loginButtons}}
      </ul>
    </div>
  </nav>
</template>

<template name="profile">
  <li>
    <a class="profile" href="#">Profile</a>
  </li>
</template>


<template name="messagesNav">
  <li>
    <a class="messages" href="#">Messages</a>
  </li>
</template>